.centered {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    overflow: auto;
    /* padding: 20px; */
}

.centered-padding {
    padding: 20px;
}

p {
    max-width: 640px;
}