.centered {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    overflow: auto;
    /* padding: 20px; */
}

.tcentered {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: auto;
}

.ncentered {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mcentered {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.centered-padding {
    overflow: hidden;
    max-width: 100%;
    max-height: fit-content;
    padding: 20px;
}


p {
    max-width: 640px;
    word-break: break-all;
}

.preview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}